body {
    margin: 0 auto;
    max-width: 1578px;
}

header , main {
    margin: 60px 140px 0 140px;
}

/* header style */

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Banner Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius:   20px;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 163px 350px;
    border-radius: 20px;
    color: #fff;
}


.header-items > h2 , h1{
    font-family: Merriweather;
    font-size: 32px;
}


.header-items > h1 {
    font-size: 72px;
    text-align: center;
    margin: 0;
}

/* main style */

/* section - 1 */

.offer-cont , .offer-text-itmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.offer-text-itmes {
    margin: 0;
}

.offer-text-itmes > h1 {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 30px;
}

.offer-text-itmes p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #F00;
}

.offer-text-itmes h2{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

/* section-2 */

.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 120px 0;
    background-image: url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 18px;
}

.section-2-items {
    display: flex;
    padding: 60px 126px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); 
    border-radius: 18px;
}


.section-2 h1 {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 0;
}

.section-2 p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    color: rgba(255, 255, 255, 0.80);
}

.join-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border: 0;
    cursor: pointer;
    padding-left: 25px;
}

/* section 3 */

.section-3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.upco-offer {
   max-width: 33.33%;
   max-height: 33.33%;
}

.upcoming-offer-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upcoming-offer-1 > h2{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.upcoming-offer-1 > h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0;
}

.upcoming-offer-1 > p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}
.upcoming-offer-2 {
    width: 365px;
    height: 365px;
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 35px;
}

.upcoming-offer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.upcoming-offer-3 > h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.upcoming-offer-3 > p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}

/* section 4 */

.section-4 {
    margin-top: 120px;
}

.Holidays-offer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Holidays-offer h1:nth-child(1) {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.Holidays-offer h1:nth-child(2) {
    margin-top: 20px;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
}

.Holidays-offer h1:nth-child(2) span {
    color: #F00;
}

.Holidays-offer p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
}

.Holidays-img-cont {
    overflow: hidden;
    height: 670px;
}

.Holidays-img-cont img:nth-child(1){
    position: relative;
    top: 5px;
    left: 870px;
    z-index: -1;
}

.Holidays-img-cont img:nth-child(4) {
    position: relative;
    z-index: 11;
    bottom: 960px;
    right: 85px;
}

.Holidays-img-cont img:nth-child(3) {
    position: relative;
    bottom: 670px;
    left: 0px;
}

/* section 5*/

.section-5 {
    margin-top: 120px;
}

.sec5-text-items h1:nth-child(1) {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.sec5-text-items h1:nth-child(2) {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;

    margin: 0;
}

.sec5-text-items p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}

.img-gellery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

/* section 6 */

.section-6 {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.1);
    margin: 120px 0;
    padding: 120px 0;
}

.subscriber-cont {
    display: flex;
    justify-content: center;
    
}

.sub-text {
    flex-direction: column;
    align-items: center;
}

.sub-text h1{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.sub-text p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}

.sub-inp input {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.4);
    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    border: 0;
    border-radius: 50px 0 0 50px;
}

.sub-inp button {
    border: 0;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    padding: 24px 56px;
}


/* footer section */

.footer-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    background: #070211;
    color: #fff;
    padding: 60px 140px 0 140px;
}

.footer-container > div {
    display: flex;
}

.addresing > div {
    width: 50%;
}

.addresing div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addresing div:nth-child(2) p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 0px;
}

.addresing  p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

.social-media {
    justify-content: center;
    margin: 50px 0;
}

.social-media img {
    margin-right: 20px;
}

.copyright {
    justify-content: space-between;
}

.copyright p {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}