body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 140px 0 140px;
    max-width: 1264px;
}

/* header style */

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Banner Image.png');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 163px 350px;
    border-radius: 20px;
    color: #fff;
}


.header-items > h2 , h1{
    font-family: Merriweather;
    font-size: 32px;
}


.header-items > h1 {
    font-size: 72px;
    text-align: center;
    margin: 0;
}

/* main style */

/* section - 1 */

.offer-cont , .offer-text-itmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.offer-text-itmes {
    margin: 0;
}

.offer-text-itmes > h1 {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 30px;
}

.offer-text-itmes p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #F00;
}

.offer-text-itmes h2{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}

/* section-2 */

.section-2 {
    margin: 120px 0;
    background-image: url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    color: #fff;
    border-radius: 18px;
}

.section-2-items {
    display: flex;
    padding: 60px 126px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); 
    border-radius: 18px;
}


.section-2 h1 {
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 0;
}

.section-2 p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    color: rgba(255, 255, 255, 0.80);
}

.join-btn {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background: transparent;
    border: 0;
    cursor: pointer;
    padding-left: 25px;
}

/* section 3 */

.section-3 {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.upco-offer {
   max-width: 33.33%;
   max-height: 33.33%;
}

.upcoming-offer-1 { 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.upcoming-offer-1 > h2{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.upcoming-offer-1 > h1 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0;
}

.upcoming-offer-1 > p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}
.upcoming-offer-2 {
    border: 10px solid #F00;
    border-radius: 50%;
    padding: 35px;
}

.upcoming-offer-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.upcoming-offer-3 > h1 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
}

.upcoming-offer-3 > p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 32px; /* 160% */
}