body {
    margin: 60px 140px 0 140px;
}

/* header style */

.header-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/Banner Image.png');
    background-repeat: no-repeat;
    background-position: center;
}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 163px 350px;
    border-radius: 20px;
    color: #fff;
}


.header-items > h2 , h1{
    font-family: Merriweather;
    font-size: 32px;
}


.header-items > h1 {
    font-size: 72px;
    text-align: center;
    margin: 0;
}

/* main style */

/* section - 1 */

.offer-cont , .offer-text-itmes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
}

.offer-text-itmes {
    margin: 0;
}

.offer-text-itmes > h1 {
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    color: #F00;
    margin-bottom: 30px;
}

.offer-text-itmes p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    color: #F00;
}

.offer-text-itmes h2{
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 10px;
}
