*{
    font-family: open sans;
}

body{
    width: 100vw;
    height: 100vh;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 120px;
    padding-top: 4%% ;
}
nav h3{
    font-weight: 700;
    font-size: 38px;
    color: #181818;
}

nav > ul {
    display: flex;
    align-items: center;
}
nav li {
    list-style: none;
    margin-right: 50px ;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.primary-color {
    color: #FD6E0A;
}
.primary-btn, .secendary-btn {
   color: white;
   font-weight: 600;
   font-size: 16px;
   background-color: #FD6E0A;
   border: none;
   padding: 12px 25px;
   border-radius: 5px;
   margin: 0;
}

/* Header Style */
.header-content {
    background-color: #FFF8F3;
    background-image: url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.bannar {
    display: flex;
    margin: 60px 30px 0px 120px;
    border: 1px solid black;
    justify-content: space-between;
}

.bannar-content {
    margin-bottom: 0px;
}

.bannar  h5 {
    color: #474747;
    font-size: 35px;
    font-weight: 600;
    margin:  0 0 20px 0;
}

.bannar h1 {
    color: #181818;
    font-size: 65px;
    font-weight: 600;
    margin: 0;
}

.bannar p {
    color: #757575;
    line-height: 25px;
    font-size: 15px;
}

.secendary-btn {
    color: #FD6E0A;
    background-color: transparent;
    border: 1px solid #FD6E0A;
    margin-left: 10px;
}

.profile-pc {
    margin: 0;
    border: 1px solid black;
    flex-shrink: 0;
}
